@{
    Layout = "~/Views/GoC.WebTemplate/GoCWebTemplate_Layout.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h1>Base de données en ligne des effets indésirables de Canada Vigilance</h1>
            <p>La base de données en ligne des effets indésirables de Canada Vigilance renferme de l'information au sujet des effets indésirables soupçonnés (ou effets secondaires) associés à des produits de santé.</p>
            <a href="#">Search Adverse Reaction Online Database</a> -
            <a href="./Reference">Canada Vigilance Adverse Reaction Database API Guide</a>
            <h2>Licence:</h2>

            <a href="http://open.canada.ca/fr/licence-du-gouvernement-ouvert-canada">Licence du gouvernement ouvert - Canada</a>
            <h2>Ressources de l'ensemble de données</h2>
            <table class="wb-tables table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Requête par :
                        </th>
                        <th></th>
                        <th>
                            Format :</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Produits pharmaceutiques :</td>
                        <td> <a class="btn btn-default" href="./api-v1/drugproduct/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/drugproduct/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Ingredient de produits pharmaceutiques :</td>
                        <td><a class="btn btn-default" href="./api-v1/drugproductingredient/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/drugproductingredient/?type=xml">XML</a></td>
                    </tr>

                    <tr>
                        <td>Gender_fr:</td>
                        <td> <a class="btn btn-default" href="./api-v1/genderlx/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/genderlx/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Outcome_fr:</td>
                        <td> <a class="btn btn-default" href="./api-v1/outcomelx/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/outcomelx/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Réactions:</td>
                        <td> <a class="btn btn-default" href="./api-v1/reactions/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reactions/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Report Drug_fr:</td>
                        <td> <a class="btn btn-default" href="./api-v1/reportdrug/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reportdrug/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Report Links_fr:</td>
                        <td><a class="btn btn-default" href="./api-v1/reportlinks/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reportlinks/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Report Type Lx_fr:</td>
                        <td><a class="btn btn-default" href="./api-v1/reporttypelx/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reporttypelx/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Rapport :</td>
                        <td><a class="btn btn-default" href="./api-v1/report/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/report/?type=xml">XML</a></td>
                    </tr>
                   <!-- <tr>
                        <td>Rapport par id = 1:</td>
                        <td><a class="btn btn-default" href="./api-v1/report/1/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/report/1/?type=xml">XML</a></td>
                    </tr>-->

                    <!--<tr>
                        <td>Rapport par nom de produit :<input type="text" id="strDrugName" size="15" /></td>
                        <td><a class="btn btn-default" href='' onclick="this.href='./api-v1/report?drugname=' + '%' + document.getElementById('strDrugName').value + '%' + '&type=json'">Json</a></td>
                        <td><a class="btn btn-default" href='' onclick="this.href = './api-v1/report?drugname=' + '%' + document.getElementById('strDrugName').value + '%' + '&type=xml'">XML</a></td>
                    </tr>-->
                    <tr>
                        <td>Seriousness Lx_fr:</td>
                        <td><a class="btn btn-default" href="./api-v1/seriousnesslx/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/seriousnesslx/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Source Lx_fr:</td>
                        <td><a class="btn btn-default" href="./api-v1/sourcelx/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/sourcelx/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>All Report Info_fr:</td>
                        <td><a class="btn btn-default" href="./api-v1/reportinfo/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reportinfo/?type=xml">XML</a></td>
                    </tr>
                    <!--<tr>
                        <td>All Report Info by Drug Name_fr:<input type="text" id="strDrugName" size="15" /></td>
                        <td><a class="btn btn-default" href='' onclick="this.href='./api-v1/reportinfo?drugname=' + '%' + document.getElementById('strDrugName').value + '%' + '&type=json'">Json</a></td>
                        <td><a class="btn btn-default" href='' onclick="this.href = './api-v1/reportinfo?drugname=' + '%' + document.getElementById('strDrugName').value + '%' + '&type=xml'">XML</a></td>
                    </tr>-->
                </tbody>
            </table>

        </div>
    </section>
</div>

