@{
    Layout = "~/Views/GoC.WebTemplate/GoCWebTemplate_Layout.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h1>Canada Vigilance Adverse Reaction Database</h1>
            <p>The Canada Vigilance Adverse Reaction Online Database contains information about suspected adverse reactions (also known as side effects) to health products.</p>
            <a href="./SearchReport">Search Adverse Reaction Online Database</a> -
            <a href="./Reference">Canada Vigilance Adverse Reaction Database API Guide</a>
            <h2>Licence:</h2>

            <a href="http://open.canada.ca/en/open-government-licence-canada">Open Government Licence - Canada</a>

            <h2>Dataset Resources</h2>
            <table class="wb-tables table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Request by:
                        </th>
                        <th></th>
                        <th>
                            Format:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Drug product ingredients:</td>
                        <td><a class="btn btn-default" href="./api-v1/drugproductingredient/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/drugproductingredient/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Drug Products:</td>
                        <td> <a class="btn btn-default" href="./api-v1/drugproduct/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/drugproduct/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td> <a class="btn btn-default" href="./api-v1/genderlx/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/genderlx/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Outcome:</td>
                        <td> <a class="btn btn-default" href="./api-v1/outcomelx/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/outcomelx/?lang=en&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Reactions:</td>
                        <td> <a class="btn btn-default" href="./api-v1/reactions/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reactions/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Report Drug:</td>
                        <td> <a class="btn btn-default" href="./api-v1/reportdrug/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reportdrug/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Report Drug Indication:</td>
                        <td><a class="btn btn-default" href="./api-v1/reportdrugindication/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reportdrugindication/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Report Links:</td>
                        <td><a class="btn btn-default" href="./api-v1/reportlinks/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reportlinks/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Report Type Lx:</td>
                        <td><a class="btn btn-default" href="./api-v1/reporttypelx/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reporttypelx/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Reports:</td>
                        <td><a class="btn btn-default" href="./api-v1/report/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/report/?type=xml">XML</a></td>
                    </tr>
                   <!-- <tr>
                        <td>All Report by Drug Name:<input type="text" id="strDrugName" size="15" /></td>
                        <td><a class="btn btn-default" href='' onclick="this.href='./api-v1/report?drugname=' + '%' + document.getElementById('strDrugName').value + '%' + '&type=json'">Json</a></td>
                        <td><a class="btn btn-default" href='' onclick="this.href = './api-v1/report?drugname=' + '%' + document.getElementById('strDrugName').value + '%' + '&type=xml'">XML</a></td>
                    </tr>-->
                    <tr>
                        <td>Seriousness Lx:</td>
                        <td><a class="btn btn-default" href="./api-v1/seriousnesslx/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/seriousnesslx/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Source Lx:</td>
                        <td><a class="btn btn-default" href="./api-v1/sourcelx/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/sourcelx/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>All Report Info:</td>
                        <td><a class="btn btn-default" href="./api-v1/reportinfo/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reportinfo/?type=xml">XML</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>


</div>
