@{
    Layout = "~/Views/GoC.WebTemplate/GoCWebTemplate_Layout.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h1>Canada Vigilance Adverse Reaction Database</h1>
            <p>The Canada Vigilance Adverse Reaction Online Database contains information about suspected adverse reactions (also known as side effects) to health products.</p>
            <a href="./SearchReport">Search Adverse Reaction Online Database</a> -
            <a href="./Reference">Canada Vigilance Adverse Reaction Database API Guide</a>
            <h2>Licence:</h2>

            <a href="http://open.canada.ca/en/open-government-licence-canada">Open Government Licence - Canada</a>

            <h2>Dataset Resources</h2>
            <table class="wb-tables table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Request by:
                        </th>
                        <th></th>
                        <th>
                            Format:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Drug product ingredient:</td>
                        <td><a class="btn btn-default" href="./api-v1/drugproductingredient/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/drugproductingredient/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Drug Products:</td>
                        <td> <a class="btn btn-default" href="./api-v1/drugproduct/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/drugproduct/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td> <a class="btn btn-default" href="./api-v1/gender/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/gender/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Outcome:</td>
                        <td> <a class="btn btn-default" href="./api-v1/outcome/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/outcome/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Reaction:</td>
                        <td> <a class="btn btn-default" href="./api-v1/reaction/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reaction/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Report Drug:</td>
                        <td> <a class="btn btn-default" href="./api-v1/reportdrug/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reportdrug/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    
                    <tr>
                        <td>Report Link:</td>
                        <td><a class="btn btn-default" href="./api-v1/reportlink/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reportlink/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Report Type:</td>
                        <td><a class="btn btn-default" href="./api-v1/reporttype/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reporttype/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Report:</td>
                        <td><a class="btn btn-default" href="./api-v1/report/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/report/?lang=fr&type=xml">XML</a></td>
                    </tr>
                   <tr>
                        <td>All Report by Drug Name:<input type="text" id="strDrugName" size="15" /></td>
                        <td><a class="btn btn-default" href='' onclick="this.href='./api-v1/report/?drug_name=' + '%' + document.getElementById('strDrugName').value + '%' + '&lang=en&type=json'">Json</a></td>
                        <td><a class="btn btn-default" href='' onclick="this.href = './api-v1/report/?drug_name=' + '%' + document.getElementById('strDrugName').value + '%' + '&lang=fr&type=xml'">XML</a></td>
                    </tr>
                    <tr>
                        <td>Seriousness:</td>
                        <td><a class="btn btn-default" href="./api-v1/seriousness/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/seriousness/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Source:</td>
                        <td><a class="btn btn-default" href="./api-v1/source/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/source/?lang=fr&type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>All Report Info:</td>
                        <td><a class="btn btn-default" href="./api-v1/reportinfo/?lang=en&type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api-v1/reportinfo/?lang=fr&type=xml">XML</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>


</div>
