<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to CVP Database APIs</h1>
            </hgroup>
            <table class="wb-tables table table-striped table-hover">
                <tr>
                    <td>Get All Drug Products:</td>
                    <td> <a class="btn btn-default" href="/api/drugproduct/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="/api/drugproduct/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Drug Product Id = 100:</td>
                    <td> <a class="btn btn-default" href="/api/drugproduct/100/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="/api/drugproduct/100/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get All Drug Product Ingredient:</td>
                    <td><a class="btn btn-default" href="/api/drugproductingredient/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="/api/drugproductingredient/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Drug Product Ingredient = 4049:</td>
                    <td><a class="btn btn-default" href="/api/drugproductingredient/4049/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="/api/drugproductingredient/4049/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get All Report:</td>
                    <td><a class="btn btn-default" href="/api/report/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="/api/report/?type=xml">XML</a></td>
                </tr>
                <tr>
                    <td>Get Report by  = 1:</td>
                    <td><a class="btn btn-default" href="/api/report/1/?type=json">Json</a></td>
                    <td><a class="btn btn-default" href="/api/report/1/?type=xml">XML</a></td>
                </tr>
                
                </table>

</div>
    </section>
   
       
</div>
